.DS_Store
.idea
*.parquet*
*.tfstate
*.tfstate.*
**.terraform
**.terraform.lock.*
**google_credentials.json
**logs/
**.env
**/.venv
**__pycache__/
.history
**/ny_taxi_postgres_data/
serving_dir
*.csv
.ipynb_checkpoints/
*.crc
*_SUCCESS
*.jar
